/* Navbar CSS */
.Navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 2px;
}

.Navbar ul {
    display: flex;
    gap: 25px;
    list-style: none;
    font-weight: bold;
}

.Navbar ul li {
    cursor: pointer;
    transition: all 1s ease-out;
}

.Navbar ul li:hover {
    transform: scale(0.7);
    color: aqua;
}