.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 2rem 6rem;
  min-height: 100vh;
}

.mainheading {
  padding: 5px 1px;
  z-index: 2;
}

.image {
  box-shadow: 0 0 40px 13px #332ff8;
  border-radius: 25px;
}

.description {
  margin: 40px 0px;
  font-size: 23px;
  z-index: 2;
}

.blogcontainer {
  font-size: 13px;
  padding: 20px 23px;
  background-color: transparent;
  display: flex;
  justify-content: center;
}

.subcontainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: transparent;
}

.blogitems {
  display: flex;
  flex-direction: column;
  gap: 5px;
}